<section id="aboutus" data-speed="4" data-type="background">
  <div class="container text-center">
    <h1>About our company</h1>
    <hr class="light">
    <div class="row-fluid">
        <div class="span4 text-justfy">
          <p>TechResource, Inc. provides one of the best Cloud-based communication services to leading companies in Asia.</p>
          <p>We employ the latest technology as our resource to accommodate the client's demands and achieve the customer's utmost satisfaction.</p>
        </div>
    </div>
  </div>
</section>
