<section id="carreers" data-speed="4" data-type="background">
    <div class="container">
      <div class="row-fluid text-center">
          <div class="col-sm-4">
            <i class="devicon-php-plain"></i>
            <i class="devicon-ruby-plain"></i>
              <h2>Jr./Sr. Developer</h2>
              <p>Develops the company's software with IP-PBX, software phones and front-end and back-end web development</p>
          </div>
          <div class="col-sm-4">
            <i class="devicon-redhat-plain-wordmark"></i>
            <i class="devicon-linux-plain"></i>
              <h2>Network Engineer</h2>
              <p>Designs and manages the business' structure, theetwork and Web servers. Well informed with Asterisk, Cisco, Linux, and VoIP</p>
          </div>
          <div class="col-sm-4">
            <i class="devicon-apple-original"></i>
            <i class="devicon-safari-line-wordmark"></i>
              <h2>Administrator</h2>
              <p>Handles the company's general affairs and provides customer support</p>
          </div>
        </div>
      </div>
</section>
