<section id="carreers" data-speed="4" data-type="background">
    <div class="container">
      <div class="row-fluid text-center">
          <div class="col-sm-4">
              <img class="img-circle img-responsive img-center" src="http://placehold.it/300x300" alt="">
              <h2>Jr./Sr. Developer</h2>
              <p>The images are set to be circular and responsive. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
          </div>
          <div class="col-sm-4">
              <img class="img-circle img-responsive img-center" src="http://placehold.it/300x300" alt="">
              <h2>Network Engineer</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
          </div>
        </div>
      </div>
</section>
