<section id="contactus" data-speed="4" data-type="background">
  <div id="contactus_layer">
  <div class="container contactus_layer">
    <div class="row">
      <div class="col-lg-6">
        <h2>Contact Us</h2>
        <ul class="list-unstyled">
          <li><p><span class="glyphicon glyphicon-home"</span> 18th floor, Trafalgar Plaza, 105 H.V Dela Costa St., Makati City</p> </li>
          </li><p><span class="glyphicon glyphicon-earphone"</span> (632).551.8669 (PLDT) | (632).310.4136 (Eastern) </p></li>
          <li><p><span class="glyphicon glyphicon-phone"</span> (63).920.666.0641 (Smart) </p></li>
          </li><p><span class="glyphicon glyphicon-print"</span> (632).729.0529 (Globe) </p></li>
        </ul>

      </div>
      <div class="col-lg-6">
        <div>
            <div style="border: 1px solid red;">
                <h4 class="h4">Find Us at Google Map</h4>
            </div>
            <div id="map-container">
              <script src="https://www.google.com.ph/maps/place/Trafalgar+Plaza/@14.560701,121.026336,17z/data=!3m1!4b1!4m2!3m1!1s0x3397c907180023e3:0xf923946a9ecaafb0"></script>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
</section>

<!--
<section id="contactus" data-speed="2" data-type="background">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 contactus_left">
        <h2>Contact Us</h2>
        <ul class="list-unstyled">
          <li><p><span class="glyphicon glyphicon-home"</span> 18th floor, Trafalgar Plaza, 105 H.V Dela Costa St., Makati City</p> </li>
          </li><p><span class="glyphicon glyphicon-earphone"</span> (632).551.8669 (PLDT) | (632).310.4136 (Eastern) </p></li>
          <li><p><span class="glyphicon glyphicon-phone"</span> (63).920.666.0641 (Smart) </p></li>
          </li><p><span class="glyphicon glyphicon-print"</span> (632).729.0529 (Globe) </p></li>
        </ul>

      </div>
      <div class="col-lg-6">
        Maps Here
      </div>


    </div>
  </div>
</section>
-->
