<section id="contactus" data-speed="2" data-type="background">
  <div class="container">
    <div class="page-header">
        <h2>Contact Us</h2>
        <small>
          <p><span class="glyphicon glyphicon-home"</span> 18th floor, Trafalgar Plaza, 105 H.V Dela Costa St., Makati City </p>
          <p><span class="glyphicon glyphicon-earphone"</span> (632).551.8669 (PLDT) | (632).310.4136 (Eastern) </p>
          <p><span class="glyphicon glyphicon-print"</span> (632).729.0529 (Globe) </p>
          <p><span class="glyphicon glyphicon-phone"</span> (63).920.666.0641 (Smart) </p>
        </small>
    </div>
  </div>
</section>
