<footer>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <ol class="list-inline">
      <li><a href="#">Home</a></li>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Carreers</a></li>
      <li><a href="#">Contact Us</a></li>
      <!--
      <li class="active">Carreers</li>
      <li class="active">Contact Us</li>-->
     </ol>
    </div>
    <div class="col-md-6 ">
       <p class="copyright text-muted small pull-right">Copyright © TechResource 2015. All Rights Reserved</p>
    </div>
  </div>
  <div class="row ">
    <div class="col-md-6">
    <span><b>Locations</b><span>
      <ul class="list-unstyled">
         <li><span class="glyphicon glyphicon-map-marker"</span> Makati City</li>
         <li><span class="glyphicon glyphicon-map-marker"</span> Clark, Pampanga</li>
       </ul>
    </div>
    <div class="col-md-6">
      <div class="pull-right">
          <span ><b>Social Links</b><span>
            <ul class="list-inline intro-social-buttons">
                <li>
                    <a href="https://www.facebook.com/TechResourceInc" ><i class="fa fa-facebook fa-fw"></i></a>
                </li>
                <li>
                    <a href="https://github.com/IronSummitMedia/startbootstrap"><i class="fa fa-github fa-fw"></i> </a>
                </li>
                <li>
                    <a href="#" ><i class="fa fa-linkedin fa-fw"></i></a>
                </li>
            </ul>
      </div>
    </div>
  </div>
</div>
</footer>
