<footer>
  <!--
  <div class="footer navbar-default" role="navigation">
    <div class="container">
      <p>&copy; TechResource 2015</p>
      <a href="https://facebook.com/TechResourceInc"><i class="fa fa-linkedin-square fa-2x"></i></a>
    </div>
  </div>
-->
<div class="container">

<div class="row">
  <div class="col-lg-6">
    <ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">About Us</a></li>
    <li class="active">Carreers</li>
    <li class="active">Contact Us</li>
   </ol>
  </div>
  <div class="col-lg-6">
  <p class="copyright text-muted small">Copyright © Your Company 2014. All Rights Reserved</p>


  </div>
</div>
</div>
</footer>
