<section id="home" data-speed="4" data-type="background">
  <div class="container" id="home_layer">
    <!--
    <div class="row-fluid">
          <div class="col-md-4 text-center">
            <%=image_tag "desktop.png" %>
          </div>
          <div class="col-md-8 text-center">
            <%=image_tag "title.png" %>
          </div>
      </div>
    -->
      
      <h3> TechResource <small> | Makati/Clark</small> </h3>


    </div>
</section>
